@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap");

html {
	min-height: 100%;
}

body {
	direction: rtl;
	background: linear-gradient(to top right, #cdff9b 50%, #a2dec7 50%);
}

* {
	font-family: "Rubik", sans-serif !important;
}

h1 {
	text-align: center;
	color: white;
	margin: 16px;
}
p {
	text-align: center;
	color: white;
}

p .margin {
	margin: 0 12px;
}

.frame {
	width: 80%;
	max-width: 900px;
	min-height: 300px;
	background-color: #ffffff00;
	margin: auto;
	padding: 8px 16px;
	border-radius: 6px;
	text-align: center;
}

.board {
	display: inline-grid;
	border-radius: 3px;
	border: 4px solid;
	overflow: hidden;
	background-color: #856b8a;
}

.board div {
	width: 20px;
	height: 18px;
}

.snake {
	background-color: #32e29e;
	border-radius: 6px;
}

.head {
	background-color: #ffc0d9;
	border-radius: 6px;
}

.head.up {
	border-radius: 6px 6px 0 0;
}

.head.right {
	border-radius: 0 6px 6px 0;
}

.head.down {
	border-radius: 0 0 6px 6px;
}

.head.left {
	border-radius: 6px 0 0 6px;
}

.blueberry::after {
	content: "🍓";
	position: relative;
	top: -5px;
	right: -3px;
	font-size: 23px;
}

@media (max-width: 600px) {
	.board div {
		width: 10px;
		height: 10px;
	}
	.blueberry::after {
		content: "🍓";
		position: relative;
		top: -5px;
		right: -3px;
		font-size: 19px;
	}
}
